@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 100;
  src: url('./assets/fonts/NotoSansJP-Thin.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 300;
  src: url('./assets/fonts/NotoSansJP-Light.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src: url('./assets/fonts/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 500;
  src: url('./assets/fonts/NotoSansJP-Medium.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  src: url('./assets/fonts/NotoSansJP-Bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  src: url('./assets/fonts/NotoSansJP-Black.otf') format('opentype');
}
// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 700;
//   src: local('Noto Sans CJK JP Bold'), url('./NotoSansCJKjp-Bold.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 350;
//   src: local('Noto Sans CJK JP DemiLight'), url('./NotoSansCJKjp-DemiLight.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 300;
//   src: local('Noto Sans CJK JP Light'), url('./NotoSansCJKjp-Light.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 500;
//   src: local('Noto Sans CJK JP Medium'), url('./NotoSansCJKjp-Medium.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 600;
//   src: local('Noto Sans CJK JP Medium'), url('./NotoSansCJKjp-Medium.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 400;
//   src: local('Noto Sans CJK JP Regular'), url('./NotoSansCJKjp-Regular.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: noto-sans-cjk-jp;
//   font-weight: 100;
//   src: local('Noto Sans CJK JP Thin'), url('./NotoSansCJKjp-Thin.woff2') format('woff2');
// }
