// ==================================================
// parts common
// ==================================================

.com_bg-sidebar {
  background: $v-color-02;
}
.com_bg-submenu {
  background: $v-color-03;
}
.com_h-pageTop {
  height: 97vh;
}
.com_h-pageBottom {
  height: 3vh;
}
.com_font-anton {
  font-family: 'Anton', sans-serif;
}
.out_avatar .avatar {
  @apply rounded-full;
}

body.single {
  p {
    padding-bottom: 1rem;
  }
}

// サイドバー目次のデザイン上書き設定
// http://blog.appspace.jp/wordpress/how-to-install-tableofcontentsplus/#i-17
#toc_container {
  @apply fixed right-0 bg-gray-100;
  top: 4.3rem;
}
