// ==================================================
// variables
// ==================================================

// -- color pallet --------------------
$v-color-01: #fff; // フォントカラー
$v-color-02: #005d72; // テーマカラー1
$v-color-03: #158098; // テーマカラー2

// -- main color --------------------
$v-color-link: $v-color-03;
$v-color-bg: #000;
$v-color-font: $v-color-01;
.v-color-theme {
  color: $v-color-02;
}
.v-bgcolor-theme {
  background: $v-color-02;
}
.v-color-font {
  color: $v-color-01;
}

// -- font --------------------
$v-font-sans-serif: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
  'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
$v-font-serif: 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho',
  serif;
$v-font-size-default: 16;
$v-font: $v-font-sans-serif;

// -- breakpoints --------------------
$v-bp: (
  tb: 520,
  pc: 960,
  sm: 640,
  md: 768,
  lg: 1024,
  xl: 1280,
  wide: 1536,
) !default;
